<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="lista">
        <ion-label>Pagamentos</ion-label>
        <ion-icon name="cash"><ion</ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="sobre">
        <ion-label>Sobre</ion-label>
        <ion-icon name="information-circle"></ion-icon>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
